@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme("colors.primary.800");
  background: linear-gradient(
      0deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.513)
    ),
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
